/* -*- mode: css -*- */
/* -*- coding: utf-8 -*- */

:global(.amap-logo) {
  display: none !important;
}

:global(.amap-copyright) {
  display: none !important;
}

.container {
  width: 40rem;
  height: 24.7213rem;
}
